# Ignorer tous les fichiers
*.txt
Workshop_1_-_Etudiant.ipynb
# Ne pas ignorer les dossiers (sinon Git perd la structure)
!*/

# Ne pas ignorer ce fichier précis (à la racine)
!Livrable_1_Algorithmique_FISEA3INFO.ipynb
!Livrable_2_Algorithmique_FISEA3INFO.ipynb